:root {
  --black: #000000;
  --dark-blue: #14213d;
  --orange: #fca311;
  --grey: #e5e5e5;
  --white: #fff;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
  max-height: 100vh;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

button {
  background: none;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: #ff0000;
}

.container {
  background-color: var(--grey);
  border: 1px solid #000;
  max-width: 60%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 150px auto;
  padding-top: 2rem;
  border-radius: 15px 40px;
  box-shadow: rgb(23, 23, 23) 0px 0px 60px 42px;
}

.title {
  color: var(--orange);
  text-align: center;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
}

/* Range */
.range-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.range-container input {
  margin: 0.5rem 0;
}

.range-section {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* Checkbox */
.checkbox-container {
  padding: 3rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Button */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate {
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 3px 10px;
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.generate:hover {
  transform: scale(1.1);
  background-color: var(--orange);
  color: var(--white);
}

/* Mot de passe */
.password-container {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  margin: 3rem;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

/* Autre */
.hidden {
  display: none;
}

/* Mobile devices (portrait and landscape) */
@media (max-width: 480px) {
  .container {
    width: 90%;
    height: auto;
    margin: 50px auto;
  }

  .title {
    font-size: 1.5rem;
  }

  .options-container {
    flex-direction: column;
    gap: 2rem;
  }

  .range-section {
    flex-direction: column;
    gap: 0.5rem;
  }

  .checkbox-list {
    grid-template-columns: 1fr;
  }

  .generate {
    font-size: 16px;
    padding: 5px 15px;
  }

  .password-container {
    width: 90%;
  }
}

/* Tablets (portrait and landscape) */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 80%;
    height: auto;
    margin: 100px auto;
  }

  .title {
    font-size: 1.75rem;
  }

  .options-container {
    flex-direction: column;
    gap: 3rem;
  }

  .range-section {
    flex-direction: column;
    gap: 1rem;
  }

  .checkbox-list {
    grid-template-columns: 1fr 1fr;
  }

  .generate {
    font-size: 18px;
    padding: 5px 20px;
  }

  .password-container {
    width: 80%;
  }
}

/* Desktops and laptops */
@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    width: 60%;
    height: auto;
    margin: 100px auto;
  }

  .title {
    font-size: 2rem;
  }

  .options-container {
    flex-direction: row;
    gap: 4rem;
  }

  .range-section {
    flex-direction: row;
    gap: 1rem;
  }

  .checkbox-list {
    grid-template-columns: 1fr 1fr;
  }

  .generate {
    font-size: 20px;
    padding: 5px 25px;
  }

  .password-container {
    width: 70%;
  }
}

/* Large screens */
@media (min-width: 1201px) {
  .container {
    width: 50%;
    height: auto;
    margin: 100px auto;
  }

  .title {
    font-size: 2.5rem;
  }

  .options-container {
    flex-direction: row;
    gap: 5rem;
  }

  .range-section {
    flex-direction: row;
    gap: 1rem;
  }

  .checkbox-list {
    grid-template-columns: 1fr 1fr;
  }

  .generate {
    font-size: 22px;
    padding: 5px 30px;
  }

  .password-container {
    width: 60%;
  }
}
